name: Puppeteer SaaS Hourly Tests

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  test-docspace-eu:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Puppeteer Tests
        uses: ./.github/actions/puppeteer-test
        with:
          provider: "docspaceEU"
          suite: "hourly"
          launch_name: "Hourly Tests - docspaceEU"
          project_name: "docspace-saas"
          os_name: "windows"
          read_pat: ${{ secrets.READ_PAT }}
          report_key: ${{ secrets.REPORT_KEY }}

      - name: Send message to Telegram
        if: always()
        uses: ./.github/actions/telegram-notify
        with:
          telegram_token: ${{ secrets.TELEGRAM_TOKEN }}
          telegram_to: ${{ secrets.TELEGRAM_TO }}
          os_name: 'windows'
          provider: 'docspaceEU'
          job_status: ${{ job.status }}

  test-docspace-us:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Puppeteer Tests
        uses: ./.github/actions/puppeteer-test
        with:
          provider: "docspaceUS"
          suite: "hourly"
          launch_name: "Hourly Tests - docspaceUS"
          project_name: "docspace-saas"
          os_name: "windows"
          read_pat: ${{ secrets.READ_PAT }}
          report_key: ${{ secrets.REPORT_KEY }}

      - name: Send message to Telegram
        if: always()
        uses: ./.github/actions/telegram-notify
        with:
          telegram_token: ${{ secrets.TELEGRAM_TOKEN }}
          telegram_to: ${{ secrets.TELEGRAM_TO }}
          os_name: 'windows'
          provider: 'docspaceUS'
          job_status: ${{ job.status }}
