name: Puppeteer Daily Tests

on:
  schedule:
    - cron: '0 20 * * *'
  workflow_dispatch:

jobs:
  test-docspaceEU:
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'docspaceEU'
      project_name: "docsserver-daily"
      suite: 'daily'
      launch_name: 'Github Action Daily Tests'
      os: "all"
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}

  test-docspaceUS:
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'docspaceUS'
      project_name: "docsserver-daily"
      suite: 'daily'
      launch_name: 'Github Action Daily Tests'
      os: "all"
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}

  test-ncoc:
    needs: [test-docspaceEU, test-docspaceUS]
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'ncoc'
      project_name: "docsserver-daily"
      suite: 'daily'
      launch_name: 'Github Action Daily Tests'
      os: "all"
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}

  test-ocis:
    needs: test-ncoc
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'ocis'
      project_name: "docsserver-daily"
      suite: 'daily'
      launch_name: 'Github Action Daily Tests'
      os: "all"
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}

  test-wopi:
    needs: test-ocis
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'wopi'
      project_name: "docsserver-daily"
      suite: 'daily'
      launch_name: 'Github Action Daily Tests'
      os: "all"
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}

  test-example:
    needs: test-wopi
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'example'
      project_name: "docsserver-daily"
      suite: 'daily'
      launch_name: 'Github Action Daily Tests'
      os: "all"
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}
