name: Puppeteer DocServer test
run-name: Puppeteer DocServer test - ${{ github.event.inputs.url }}

on:
  workflow_dispatch:
    inputs:
      url:
        description: Stand to test
        required: true
        default: release
        type: choice
        options:
        - release
        - hotfix
        - develop

jobs:
  puppeteer-docserver:
    runs-on: ${{ matrix.os.runner }}
    strategy:
      matrix:
        os:
          - name: windows
            runner: windows-latest
          - name: linux
            runner: ubuntu-latest
          - name: macos
            runner: macos-latest
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Puppeteer Tests
        uses: ./.github/actions/puppeteer-test
        with:
          provider: 'example'
          project_name: "docsserver"
          suite: 'default'
          url: ${{ github.event.inputs.url }}
          launch_name: 'Github Action All Tests'
          os_name: ${{ matrix.os.name }}
          read_pat: ${{ secrets.READ_PAT }}
          report_key: ${{ secrets.REPORT_KEY }}
          telegram_token: ${{ secrets.TELEGRAM_TOKEN }}
          telegram_to: ${{ secrets.TELEGRAM_TO }}
          url_release: ${{ secrets.URL_RELEASE }}
          url_hotfix: ${{ secrets.URL_HOTFIX }}
          url_develop: ${{ secrets.URL_DEVELOP }}
